#header{
    background-color: #4286f4;
   padding: 5%;
   padding-top:10%; 
   

}
#header img{
    image-resolution: 500px;
    margin-left: 75%;
    border-radius: 5%;
    width: 70px;
    height: 70px;

}

#header h3{
    margin-left: 5%;
    margin-top: -25%;
    color: white;
}

#header p{
    text-align: justify;
    color: white;
    font-size: 85%;
    margin-top: 10%;

}

.login{
    color: #4286f4;

}