<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>
      Domum
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding align=center>

    <img src="../../assets/img/logo.png" class="logo"/>
      

      <ion-list class="login">
    
        <ion-item>
          <ion-label position="floating">Numero ID:</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

       <ion-item>
          <ion-label position="floating">Senha:</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
       </ion-item>

      </ion-list>
    <ion-button expand="block" type="submit" color="primary" class="btn" (click)="onSubmitLogin()" >Entrar</ion-button>
    <p>Ou</p>
    <ion-button expand="block" [routerLink]="['/cadastro/']" class="btn" color="primary">Cadastrar-se</ion-button>
     
 
  </ion-content>
