<ion-header>
  <ion-toolbar color="secondary">
    <ion-title align="center">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<img align=center src="../../assets/img/1.jpg"/>
<ion-content>
    <ion-card>
  <ion-card-header>
    <ion-card-title>Village</ion-card-title>
    <ion-card-subtitle>Subtitiulo </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Aqui vem as descrição que os sindico irá apresentar o condominio
    para os condominos e determinar as regras.
  </ion-card-content>
</ion-card>
</ion-content>
