<ion-header>
  <ion-toolbar color="secondary" align="center">
    <ion-title >Informações Gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    
      <ion-item *ngIf="tudo">
       <ion-input type="text" placeholder="Nome" [(ngModel)]="tudo.nome"></ion-input>
      </ion-item>

      <ion-item *ngIf="tudo">
        <ion-input type="text" placeholder="Email" [(ngModel)]="tudo.priority"></ion-input>
      </ion-item>
        </ion-list>

  <ion-button expand="full" (click)="Salvar()">Salvar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/usuarios" routerDirection="forward"  (click)="onRemove(todoId)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
