<ion-header>
  <ion-toolbar color="secondary">
    <ion-title align=center>Mural</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align=center>

    <ion-card>
        <img src="../../assets/img/nin.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
            </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="../../assets/img/nin.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Nine Inch Nails Live
              </ion-card-title>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>

</ion-content>
